.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    border-radius: 25px;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close1 {
    color: #f5f5f5;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1:hover,
.close1:focus {
    color: #f5f5f5;
    text-decoration: none;
    cursor: pointer;
}

.close2 {
    color: #f5f5f5;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: #f5f5f5;
    text-decoration: none;
    cursor: pointer;
}

.close3 {
    color: #f5f5f5;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close3:hover,
.close3:focus {
    color: #f5f5f5;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 60px 60px;
    border: none;
    background-color: #374a8a;
    color: white;
    text-align: center;
    text-shadow: 2px 2px #374a8a;
    font-size: 250%;
}

.modal-body {
    padding: 2px 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    color: #707070}

.modal-footer {
    padding: 2px 16px;
    background-color: #84b4de;
    color: white;
}